<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Handlebars</title>
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/portfolio.css">
</head>

<body>
  <header class="inner-header">
    <div class="name">
      <h2 id="page-title">John Henry Weber</h2>
    </div>
    <div class="nav">
      <h2><a href="./">About</a> | <a href="./portfolio">Portfolio</a> | <a href="/contact">Contact</a>
      </h2>
    </div>
  </header>
  <div class="header"></div>
  {{{body}}}
  <div class="footer">
    <div class="inner-header">
      <div class="nav">
        &#169; John Henry Weber, 2019
      </div>
    </div>
  </div>
</body>

</html>