<div class="total-content">
            <div class="title">
                <h1>About Me</h1>
            </div>
            <img class="img-circle" src="./assets/images/henry.jpg" alt="Picture of John Henry Weber">

            <div class="word-content">
                <h2>My Name is John Henry Weber.</h2>
                <h2>I am a gemini, enjoy long walks on the beach, and can code one hell of a website.</h2>
                <h2>Be sure to check out my portfolio to see some of the work you or your company would be in store for
                    if
                    you
                    secure my services.</h2>
                    <br />
                    <div class="gallery linkedinGallery">
                        <a href="https://www.linkedin.com/in/john-henry-weber-70773818a/" id="linkedinLink">
                            <img src="./assets/images/linkedin.png" class="linkedinImage">
                        </a>
                    </div>
                    <div class="gallery githubGallery">
                            <a href="https://github.com/magicalrobotunicorn" id="githubLink">
                                <img src="./assets/images/octocat.png" class="octocatImage">
                            </a>
                    </div>
                    <br />
                    <br />
            </div>
        </div>
    </div>
    <br />
    <br />